body {
background-image: url(https://imagem.natelinha.uol.com.br/original/chaves-em-desenho-dublagem_5148.jpeg);
background-repeat: no-repeat;
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: rgb(247, 247, 247);
font-size: 20px;
}

.container{
    margin-top: 20%;
}